.loading {
  text-align: center;
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}
.user-details {
    padding: 2rem;
    text-align: center;
  
    .user-avatar {
      border-radius: 50%;
      width: 150px;
      height: 150px;
      object-fit: cover;
      margin-bottom: 1rem;
    }
  
    .user-info {
      margin-top: 1rem;
      font-size: 1.2rem;
    }
  
    .back-button {
      margin-top: 2rem;
      padding: 0.5rem 1rem;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  }
  ngx-spinner .spinner-layer {
    border-color: #ff6347 !important;
  }
  
  ngx-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999; /* Ensure the spinner is on top */
  }
  
  